.about-me {
	min-height: 20vh;
	padding-top: 15vh;
	padding-bottom: 15vh;
	margin-right: 20vw;
	margin-left: 15vw;
}

@media only screen and (max-width: 1440px) {
	.about-me {
		margin-right: 10vw;
		margin-left: 5vw;
	}
}

@media only screen and (max-width: 768px) {
	.about-me {
		margin-right: 2vw;
		margin-left: 2vw;
	}
}

.border-line {
	border-right: solid 5px #A8C3C8;
}

.bg-image {
	border: solid 5px #A8C3C8;
	height: 100% !important;
	width: 100% !important;
}

.about-me-image {
	background-image: url('../pictures/profile.png');
  	-ms-background-position-x: center;
	-ms-background-position-y: center;
	background-position: center bottom;
  	background-size: cover;
	max-width: 1200px;
}
