.section {
	min-height: 20vh;
	padding-top: 15vh;
	padding-bottom:20vh;
	margin-right: 20vw;
	margin-left: 15vw;
}

@media only screen and (max-width: 1440px) {
	.section {
		margin-right: 5vw;
		margin-left: 5vw;
	}
}

@media only screen and (max-width: 1024px) {
	.section {
		margin-right: 10vw;
		margin-left: 5vw;
	}
}

@media only screen and (max-width: 768px) {
	.section {
		margin-right: 2vw;
		margin-left: 2vw;
	}
}

.App {
	text-align: center;
	background-color: #222222;
	color: #D9D9D9;
}

.overflow-hidden {
	height: 100vh;
	overflow: hidden;
}

.noPadding {
	padding: 0 !important;
}

.App-footer {
	background-color: #222222;
	min-height: 2vh;
	display: flex;
	flex-direction: column;
	align-content: right;
	justify-content: right;
	font-family: le-monde-livre-std, serif;
	font-weight: 700;
	font-style: normal;
	color: #A8C3C8;
	
}

.navbar {
	background-color: #222222;
	color: #373535;
	font-size: 1.5rem;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: normal;
}

.dotted-line {
	width: 200px;
	display : flex;
}  

.dot {
	flex: 1;
	border-bottom: 1px dotted #3C5C62;
	border-bottom-width: 7px;
	margin-top: 20px;
	content: '';
	margin-left: 1rem;
	height: 1px;
}

.btn-primary.raised {
	box-shadow: 0 3px 0 0 #2F474B;
}

.btn-primary.raised:active,
.btn-primary.raised.active {
	background: #3C5C62;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}

.btn {
	padding: 14px 24px;
	border: 0 none;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
}

.btn-primary {
	background: #3C5C62;
	color: #ffffff;
}

.btn-primary:active {
	background: #3C5C62 !important;
	color: #ffffff;
}

.btn-primary:focus {
	background: #3C5C62 !important;
	color: #ffffff;
}

.btn-primary:hover{
	background: #537E86;
}

a:hover{
	text-decoration: none;
}

.designer{
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #D9D9D9;
	font-size: 1.0rem;
	padding: 0;
	margin: 0;
	opacity: 0.5 !important;
}

@media only screen and (max-width: 600px) {
.designer{
	font-size: .8rem;
}

.dot{
	border: 0px;
}

}