.click {
    min-width: 100px;
    width: 100%;
    background-color: transparent ;
    background-repeat: no-repeat;
    text-align: left !important;
    border-color: #A8C3C8;
    border-left: 2px solid !important; 
    border-bottom: none !important;
    border-top: none !important;
    border-right: none !important;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: inherit !important;
    border-radius: 0;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.click:focus,.click:active {
    outline: none ;
    box-shadow: none !important;
    color: white; 
}

.click:hover {
    border-color: #A8C3C8 !important;
    background-color: #547778 !important;
}

.selected {
    border-color: #A8C3C8 !important;
    color:#A8C3C8 !important;
    background-color: #171717;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.workBullets{
    justify-content: left !important;
    color:lawngreen;
}

.header {
    display: flex;
    align-items: center;
  }

.experience{
  font-family: 'Public Sans', sans-serif;
	color: #526d72;
	font-size: 1.5rem;
}

.workdates{
	font-family: open-sans, sans-serif;
	color: #A8C3C8;
	font-weight: 500;
	font-style: italic;
	padding-bottom: 2vh;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
    .click {
        border-color: gray;
        height: 100%;
        border-bottom: 2px solid !important; 
        border-left: none !important;
        border-radius: 0 !important;
        border-top-left-radius: 20px !important;
        border-top-right-radius: 20px !important;
    }

    .selected {
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .buttonContainer {
        display: flex;
        overflow-x: auto;
        width: 100%;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .buttonContainer::-webkit-scrollbar {
        display: none;
    }
    .header{
        justify-content: center !important;
    }
    .header::after {
        margin-top: 0px;
        content: '';
        flex: 0;
        margin-left: 0;
        height: 0;
        background-color: #000;
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .experience{
        font-size: 1.3rem;
      }
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
    .test {
        width: 800px !important;
    } 
    .experience{
        font-size: 1.8rem;
      }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .test {
        width: 1000px !important;
    }  

    .experience{
        font-size: 2.3rem;
      }
}
