
h1 {
	font-family: tenez;
	font-weight: 400;
	font-style: normal;
	color: #A8C3C8;
	font-size: 7rem;
	margin: 0px;
}

h2 {
	font-family: 'Public Sans', sans-serif;
	color: #526d72;
	font-size: 3rem;
}

h3 {
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #D9D9D9;
	font-size: 1.4rem;
}

h4 {
	font-family: tenez;
	font-style: normal;
	color: #A8C3C8;
	font-size: 5rem;
	margin: 0px;
}

h5 {
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #D9D9D9;
	font-size: 1.4rem;
	margin: 0px;
	text-align: left;
}

h6 {
	font-family: 'Public Sans', sans-serif;
	color: #526d72;
	font-size: 2rem;
	margin-top: 3vh;
}



@media only screen and (max-width: 600px) {
	h1 {
		font-size: 3.4rem
	}
	h2 {
		font-size: 1.5rem
	}
	h3 {
		font-size: 1.2rem
    }
    h4 {
        font-size: 3.2rem;
    }
    h5 {
        font-size: 1rem;
    }
    h6 {
        font-size: 1.5rem;
    }

}


@media only screen and (min-width: 600px) and (max-width: 1024px) {
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 2.2rem;
    }
    h3 {
		font-size: 1.2rem
    }
    h4 {
        font-size: 3rem;
    }
    h5 {
        font-size: 1.2rem;
    }
    h6 {
        font-size: 2rem;
    }

}
