.landing-page {
	min-height: 20vh;
	display: flex;
	font-family: canto-brush, serif;
	text-align: left;
	font-weight: 300;
	font-style: normal;
	color: #222222;
	border-left: solid;
	margin-top: 25vh;
	margin-bottom: 20vh;
	margin-left: 15vw;
	margin-right: 15vw;
	border-color: #A8C3C8;
	border-width: 5px;
}

@media only screen and (max-width: 1440px) {
	.landing-page {
    	margin-left: 7.5vw;
		margin-top: 20vh;
	}
}

@media only screen and (max-width: 768px) {
	.landing-page {
    	margin-left: 7.5vw;
		margin-top: 15vh;
	}
}

@media only screen and (max-width: 600px) {
	.landing-page {
    	margin-left: 2.5vw;
		margin-right: 2.5vw;
		margin-top: 8vh;
	}
}
